@charset 'UTF-8';

/* Botões fixos na parte inferior da tela */
.botoes {
   background-color:#F2F2F2;
   opacity:.9;
   border-radius:12px;
   position:absolute;
   bottom:25px;
   left:39%;
   width:300px;
   padding:10px;
   font-size:20px;
}

#pause-play, #som {
   padding:1px;
   width:100px;
   cursor:pointer;
   color:black;
   font-size:13px;
}

@media (max-width: 1100px) {
   .botoes {
      left:32%;
   }
}

@media (max-width:700px) {
   .botoes {
      left:20%;
   }
}