@charset 'UTF-8';

/* Botões fixos na parte inferior da tela */
.botoes {
   background-color:#F2F2F2;
   opacity:.9;
   border-radius:12px;
   display:flex;
   position:fixed;
   width:300px;
   bottom:25px;
   padding:10px;
   font-size:20px;
}

#pause-play, #som {
   padding:1px;
   width:100px;
   cursor:pointer;
   color:black;
   font-size:13px;
}