@charset 'UTF-8';

/*Alterações no vídeo de fundo*/
.playSound {
   border-radius:10px;
   position:absolute;
   bottom:70px;
   right:60px;
   padding:3px;
}

.playSound button {
   background-color:rgba(0,0,0,.1);
   margin:15px;
   font-size:17px;
   cursor:pointer;
}