@charset 'UTF-8';

.conteudo {
   position:absolute;
   left:20px;
   top:0px;
}

h1 {
   margin-bottom:10px;
   font-size:50px;
}

p {
   letter-spacing:1px;
   width:270px;
   font-size:26px;
}

.doc {
   background-color:#F2F2F2;
   display:block;
   margin-top:20px;
   border-radius:5px;
   width:132px;
   padding:9px;
   color:black;
   font-size:17px;
   letter-spacing:1px;
   transition:.3s;
}

.doc:hover {
   width:144px;
   letter-spacing:2px;
}


