@charset 'UTF-8';

.conteudo {
   position:absolute;
   left:20px;
   top:10px;
}

.conteudo h1, p {
   margin-bottom:20px;
}

h1 {
   font-size:40px;
}

p {
   letter-spacing:1px;
   width:220px;
   font-size:22px;
}

.doc {
   background-color:#F2F2F2;
   display:block;
   margin-top:20px;
   border-radius:5px;
   width:120px;
   padding:9px;
   color:black;
   font-size:15px;
   letter-spacing:1px;
   transition:.3s;
}

.doc:hover {
   width:132px;
   letter-spacing:2px;
}


