@charset 'UTF-8';

nav {
   position:absolute;
   right:0;
   top:25px;
}

/* Ajustes do navbar */
.navbar {
   display:block;
   cursor:pointer;
   margin-top:-10px;
}

.navbar div {
   background-color:#F2F2F2;
   border-radius:5px;
   height:2px;
   margin:9px;
}

.line1 {
  width:35px;
}

.line2 {
   width:25px;
}

/* Conteúdo do menu */
.lista {
   background:#F2F2F2;
   border-radius:20px;
   position:absolute;
   display:none;
   width:25vw;
   top:6vh;
   right:0;
   flex-direction:column;
   align-items:center;
   list-style:none;
   font-size:13px;
   text-transform:uppercase;
}

.lista li {
   margin:30px;
   opacity:1;
}

.lista.active {
   transform:translateX(0);
}

.lista a {
   color:black;
}

.lista a:hover {
   opacity:.9;
}

q {
   text-align:center;
   padding:10px;
   color:black;
   font-size:11px;
}

/* Animação do navbar */
@keyframes navLinkFade {

   from {
      transform:translateX(0);
   }

   to {
      transform:translateX(0);
   }
} 

.navbar.active .line1 {
   opacity:0;
}

.navbar.active .line2 {
   opacity:1;
}

.navbar.active ~ .lista {
   display:flex;
}