@charset 'UTF-8';

nav {
   position:absolute;
   right:0;
   top:5px;
}

/* Ajustes do navbar */
.navbar {
   display:block;
   cursor:pointer;
}

.navbar div {
   background-color:#F2F2F2;
   border-radius:5px;
   height:2px;
   margin:9px;
   transition:.1s;
}

.line1, .line3 {
   width:28px;
   position:relative;
   left:2.5px;
}

.line2 {
   width:36px;
}

/* Animação do navbar */

.navbar.active .line1 {
   transform:rotate(-45deg) translate(-4px, 4px);
}

.navbar.active .line2 {
   opacity:0;
}

.navbar.active .line3 {
   transform:rotate(45deg) translate(-11px, -11px);
}

.navbar.active ~ .lista {
   display:flex;
}

/* Conteúdo do menu */
.lista {
   background:#F2F2F2;
   border-radius:10px;
   position:absolute;
   display:none;
   width:21vw;
   top:7vh;
   right:10px;
   flex-direction:column;
   list-style:none;
   align-items:center;
   font-size:15px;
   text-transform:uppercase;
}

.lista li {
   border:1.5px solid rgba(0,0,0,.3);
   border-radius:15px;
   text-align:center;
   width:75%;
   margin:11px;
   padding:9px;
   cursor:pointer;
}

.lista li:hover {
   background-color:rgba(0,0,0,.1);
}

.lista a {
   color:black;
}

q {
   text-align:center;
   padding:10px;
   color:black;
   font-size:11px;
}