@charset 'UTF-8';

.fechaMenu {
   background-color:rgba(0,0,0,.6);
   position:fixed;
   height:100vh;
   width:100vw;
   display:none;
}

#simples-menu {
   border-radius:3px;
   position:absolute;
   top:3px;
   right:0;
   box-sizing:border-box;
   display:flex;
   align-items:center;
   justify-content:center;
}

#btn-mobile {
   border:none;
   background:none;
   cursor:pointer;
   opacity:.9;
}

#burguer {
   border-top:2px solid;
   display:block;
   width:28px;
}

#burguer::after, #burguer::before {
   position:relative;
   content:'';
   display:block;
   width:28px;
   height:2px;
   margin-top:8px;
   background:currentColor;
}

#simples-menu.active {
   background:#F2F2F2;
   width:28vw;
   height:37px;
   right:3px;
   padding-bottom:5px;
}

#simples-menu.active #btn-mobile {
   position:absolute;
   right:1px;
   width:32px;
   border-radius:5px;
}

#simples-menu.active #burguer::before {
   background:black;
}

#simples-menu.active #burguer::after {
   background:black;
}

#simples-menu.active #burguer {
   border-top-color:transparent;
}

#simples-menu.active #burguer::before {
   border-radius:25px;
   transform:rotate(130deg);
   width:23px;
}

#simples-menu.active #burguer::after {
   border-radius:25px;
   transform:rotate(-127deg);
   top:-10px;
   width:23px;
}

#simples-menu.active .lista {
   visibility:visible;
   overflow-y:auto;
   height:85vh;
}

.lista {
   background:#F2F2F2;
   border-radius:3px;
   position:absolute;
   top:33px;
   right:0;
   width:28vw;
   height:auto;
   display:block;
   list-style:none;
   gap:.5rem;
   z-index:1000;
   overflow-y:hidden;
   visibility:hidden;
}

.lista a {
   border-bottom:2px solid rgba(0,0,0,.05);
   display:block;
   padding:.1rem 0;
   margin:1.9rem 1rem;
   letter-spacing:2px;
   font-size:15px;
}

.aprendendo {
   position:relative;
   top:10px;
   text-align:center;
}

textarea {
   background-color:#F2F2F2;
   border-radius:5px;
   width:170px;
   padding:2px;
   color:black;
   font-size:13px;
   text-align:center;
   letter-spacing:3px;
   resize:none;
   cursor:pointer;
   opacity:.8;
}

.aprendendo textarea:hover {
   opacity:1;
}

textarea:focus {
   outline:0;
}

.aprendendo img {
   position:relative;
   right:25px;
   bottom:3px;
   width:15px;
   height:15px;
   cursor:pointer;
   opacity:1;
}