@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* { 
   box-sizing:border-box;
   border:0;
   margin:0;
   padding:0;
   color:#F2F2F2;
   font-family:'Basic', sans-serif;
   letter-spacing:4px;
}

body { 
   background-color:black;
}

a {
   text-decoration:none;
}

/* Vídeo de fundo */
video {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit:cover;
   opacity:0.5;
}

section {
   position:absolute;
   width:100%;
   height:100%;
   display:flex;
   justify-content:space-between;
}

.vaiCompartilhar {
   position:absolute;
   width:100%;
   height:100%;
   display:flex;
   align-items:center;
}

.vaiCompartilhar article {
   position:absolute;
}

h1 {
   margin-bottom:20px;
   font-size:45px;
}

p {
   letter-spacing:1px;
   width:230px;
   font-size:23px;
}


/* Botão de compartilhar */
.compartilhar {
   background-color:#F2F2F2;
   border-radius:50%;
   position:fixed;
   bottom:100px;
   right:10px;
   padding:5px;
   display:flex;
   align-items:center;
}

.compartilhar img {
   position:relative;
   right:1px;
   width:23px;
   height:23px;
}