@charset 'UTF-8';

/* Responsabilidade do conteúdo */
@media (max-width:1150px) { 

   h1 { 
      width:270px; 
      font-size:35px;
   }

   p {
      font-size:20px;
   }

   .lista {
      width:18vw;
   }
}

@media (max-width:950px) {

   .lista {
      width:25vw;
   }
}

@media (max-width:490px) {
   h1 {
      width:240px;
      font-size:25px;
   }

   p {
      width:180px;
      font-size:17px;
   }

   .doc {
      width:95px;
      font-size:11px;
   }

   .doc:hover {
      width:107px;
   }

   .lista {
      width:28vw;
   }
}