@charset 'UTF-8';

@media (max-width:1000px) {
   h1 { 
      width:290px; 
      font-size:37px;
   }

   article {
      width:265px;
      font-size:20px;
   }

   .lista {
      width:35vw;
      font-size:14px;
   }
}

@media (max-width:590px) {
      /* Conteúdo */
   h1 {
      width:250px;
      font-size:30px;
   }

   p {
      width:200px;
      font-size:18px;
   }

   .lista {
      width:60vw;
      font-size:13px;
   }

      /* Menu */
   .navbar div {
      height:2px;
      margin:6px;
   }

   .line1, .line3 {
      width:19px;
      position:relative;
      left:8px;
   }

   .line2 {
      width:27px;
   }

   /* Animação do navbar */
   .navbar.active .line1 {
      transform:rotate(-45deg) translate(-3px, 3px);
   }

   .navbar.active .line2 {
      opacity:0;
   }

   .navbar.active .line3 {
      transform:rotate(45deg) translate(-8px, -8px);
   }
}