@charset 'UTF-8';

@media (max-width:1000px) {

   #simples-menu.active, .lista {
      width:40vw;
   }
}

@media (max-width:700px) {
   .container.active {
      width:280px;
      height:260px;
   }

   .container.active h1 {
      font-size:14px;
      width:220px;
   }

   .container.active #qrcode {
      top:-2px;
      left:63px;
      width:130px;
      height:130px;
   }

   .container.active .copiarLink {
      width:260px;
      top:9px;
      right:5px;
   }

   .container.active input {
      width:220px;
      font-size:12px;
   }
}

@media (max-width:590px) {
   header h1 {
      font-size:27px;
   }

   #simples-menu {
      right:3px;
      width:32px;
   }

   .lista a {
      font-size:14px;
   }

   #burguer {
      width:21px;
      left:3px;
   }

   #burguer::before {
      width:28px;
      right:7px;
   }

   #burguer::after, #burguer::before {
      margin-top:6px;
   }

   #simples-menu.active, .lista {
      width:75vw;
   }

   #simples-menu.active #burguer::before {
      transform:rotate(131deg);
      right:1px;
   }

   #simples-menu.active #burguer::after {
      transform:rotate(-132deg);
      right:1px;   
      top:-9px;
   }
}

@media (max-height:450px) {
   .container.active {
      top:1%;
   }
   
   #simples-menu.active .lista {
      height:82vh;
   }
}