@charset 'UTF-8';

/* Responsabilidade do conteúdo */
@media (max-width:1100px) { 

   h1 { 
      width:340px; 
      font-size:40px;
   }

   p {
      width:210px;
      font-size:20px;
   }

   .lista {
      width:35vw;
   }
}

@media (max-width:490px) {
   h1 {
      width:240px;
      font-size:31px;
   }

   p {
      width:185px;
      font-size:18px;
   }

   .doc {
      width:107px;
      font-size:13px;
   }

   .doc:hover {
      width:119px;
   }

   .lista {
      width:40vw;
   }
}