@charset 'UTF-8';

.link {
   visibility:hidden;
}

/* Quando o usuário clicar no botão */
.link.active {
   background-color:#F2F2F2;
   border-radius:5px;
   box-shadow:0px 0px 0px 2px black;
   position:absolute;
   top:20%;
   width:320px;
   height:310px;
   padding:15px;
}

.fechaTudo {
   background-color:rgba(0,0,0,.3);
   position:fixed;
   height:100vh;
   width:100vw;
   visibility:hidden;
}

.link.active .fecha {
   position:absolute;
   right:0px;
   top:-2px;
   font-size:24px;
   cursor:pointer;
   color:black;
   opacity:.6;
   text-align:center;
}

.link.active .fecha:hover {
   opacity:1;
}

.link.active h1 {
   position:relative;
   left:15px;
   width:250px;
   color:black;
   font-size:16px;
   text-align:center;
   opacity:.6;
   letter-spacing:2px;
}

.link.active #qrcode {
   border:1px solid rgba(0,0,0,.8);
   box-shadow:1px 1px 2px rgba(0,0,0,.7);
   position:relative;
   top:5px;
   left:65px;
   width:160px;
   height:160px;
}

.link.active .copiarLink {
   box-shadow:1px 1px 3px rgba(0,0,0,.7);
   background-color:#F2F2F2;
   border-radius:5px;
   position:relative;
   top:20px;
   width:290px;
   cursor:pointer;
   padding:3px;
   opacity:.9;
}

.link.active .copiarLink:hover {
   opacity:1;
}

.link.active input, button {
   padding:5px;
   color:black;
   font-size:12px;
   cursor:pointer;
   letter-spacing:1px;
}

.link.active input {
   border:1px solid rgba(0,0,0,.4);
   border-radius:5px;
   resize:none;
   width:250px;
}

input:focus {
   outline:0;
}

.link.active button img {
   width:15px;
   height:15px;
}