@charset 'UTF-8';

.share {
   background-color:#F2F2F2;
   border-radius:50%;
   position:absolute;
   bottom:110px;
   right:5px;
   padding:5px;
   display:flex;
   align-items:center;
   opacity:.6;
   cursor:pointer;
   display:flex;
}

.share img {
   position:relative;
   right:1px;
   width:20px;
   height:20px;
}

.share:hover {
   opacity:1;
}

.container {
   display:none;
}

.container.active {
   background-color:#F2F2F2;
   border-radius:10px;
   position:absolute;
   width:320px;
   height:310px;
   padding:15px;
}

.fechaContainer {
   background-color:rgba(0,0,0,.3);
   position:fixed;
   height:100vh;
   width:100vw;
   display:none;
}

.container.active .fecha {
   position:absolute;
   right:0px;
   top:-6px;
   font-size:30px;
   cursor:pointer;
   color:black;
   opacity:.6;
   text-align:center;
}

.container.active .fecha:hover {
   opacity:1;
}

.container.active h1 {
   position:relative;
   left:15px;
   width:250px;
   color:black;
   font-size:16px;
   text-align:center;
   opacity:.8;
   letter-spacing:2px;
   margin-bottom:20px;
}

.container.active #qrcode {
   border-radius:5px;
   box-shadow:1px 1px 1px 1px rgba(0,0,0,.7);
   position:relative;
   top:5px;
   left:65px;
   width:160px;
   height:160px;
}

.container.active .copiarLink {
   box-shadow:1px 1px 3px rgba(0,0,0,.7);
   background-color:#F2F2F2;
   border-radius:55px;
   position:relative;
   top:20px;
   width:290px;
   cursor:pointer;
   padding:3px;
   opacity:.9;
}

.container.active .copiarLink:hover {
   opacity:1;
}

.container.active input, button {
   padding:5px;
   color:black;
   font-size:12px;
   cursor:pointer;
   letter-spacing:1px;
}

.container.active input {
   border:1px solid rgba(0,0,0,.4);
   border-radius:35px;
   resize:none;
   width:250px;
}

input:focus {
   outline:0;
}

.container.active button {
   border-radius:20px;
}

.container.active button img {
   width:15px;
   height:15px;
}

@media (max-width:700px) {
   .container.active {
      width:280px;
      height:260px;
   }

   .container.active h1 {
      font-size:14px;
      width:220px;
   }

   .container.active #qrcode {
      top:-2px;
      left:63px;
      width:130px;
      height:130px;
   }

   .container.active .copiarLink {
      width:260px;
      top:9px;
      right:5px;
   }

   .container.active input {
      width:220px;
      font-size:12px;
   }

   .senna-numeros {
      width:280px;
   }
}

@media (max-height:300px) {
   .container.active {
      top:1%;
      height:200px;
   }

   .container.active h1 {
      font-size:12px;
      width:200px;
      left:25px;
   }

   .container.active #qrcode {
      top:-13px;
      left:75px;
      width:100px;
      height:100px;
   }

   .container.active .copiarLink {
      width:220px;
      top:-9px;
      left:15px;
   }

   .container.active input {
      width:170px;
      font-size:12px;
   }
}

@media (max-height:205px) {
   .container.active {
      height:50px;
   }

   .container.active h1 {
      display:none;
   }

   .container.active #qrcode {
      display:none;
   }
}

@media (max-height:180px) {
   .share {
      bottom:60px;
   }
}