@charset 'UTF-8';

.social {
   display:none;
   list-style:none;
}

.social li { 
   margin:5px;
}

.social a img {
   transform:scale(.7);
   transition:.2s;
}

.social a:hover img {
   transform:scale(.7) translateY(-8px);
}

.social img { width:25px; height:25px; }